<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MemoryPack" version="1.21.4" manuallyInstalled="true" />
  <package id="MemoryPack.Core" version="1.21.4" />
  <package id="MemoryPack.Generator" version="1.21.4" />
  <package id="System.Collections.Immutable" version="6.0.0" />
  <package id="ZeroFormatter" version="1.6.4" manuallyInstalled="true" />
  <package id="ZeroFormatter.Analyzer" version="1.1.1" manuallyInstalled="true" />
  <package id="ZeroFormatter.Interfaces" version="1.6.4" />
</packages>